<div class="left">
    <h3>file info</h3>
</div>

<div class='right'>
<a class="name">id:</a><a class="informacja">{{id}}</a>
<br><br>
<a class="name">name:</a><a class="informacja">{{name}}</a><br><br>
<a class="name">path:</a><a class="informacja">{{path}}</a><br><br>

<a class="name">size:</a><a class="informacja">{{size}}</a><br><br>
<a class="name">type:</a><a class="informacja">{{type}}</a><br><br>
<a class="name">savedate:</a><a class="informacja">{{data}}</a><br><br>


</div>